
@import "navbar.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
 
body {
    background: #BDFFFD;
    
}
h1 {
    text-align: center;
    padding: 1rem;
    background: #6ABEA7;
}

header img {
    padding: 1.5rem;
    width: 100%;


}
.container {
    display:flex;
    /* width: 30%; */
    justify-content: space-around;
    /* border: 1px solid black; */
    
}
.infocolumn {
    flex-direction: column;
    /* width: 30%; */
    text-align: center;
    justify-content: space-around;
    margin: 1.5rem;
    padding: .5rem;
    background:#7CFFC4;
    border-radius: 10px;
    /* height: 300px; */

    

}

.cardImage {
    object-fit: contain;
    width: 100%;
    max-width: 250px;
    
    /* height: auto; */
}


footer {
    background: #6ABEA7;
    padding: 1rem;
    text-align: center;

}


header h2{    
    text-align: center;
    padding: 0 0 .3rem 0;
    margin-top:0px;
    margin-bottom: 0px;
    background: #6ABEA7;
}
main h2{
    text-align: center;
   padding-bottom: 1rem;;
    margin-top:0px;
    margin-bottom: 0px;
}